language: ruby
cache:
  bundler: true
  yarn: true
  directories:
    - node_modules
rvm:
  - 2.4.4
  - 2.5.1
before_install:
  - gem install bundler -v 1.17.3
install:
  - bundle install --path vendor/bundle
  - cd test/sample && yarn install && cd -
gemfile:
  - gemfiles/rails_3.2.gemfile
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
script:
  - bundle exec rake
