language: ruby
cache:
  bundler: true
  yarn: true
  directories:
    - node_modules
rvm:
  - 2.2.7
  - 2.3.4
before_install:
  - gem install bundler -v 1.15.3
install:
  - bundle install --path vendor/bundle
  - cd test/sample && yarn install
gemfile:
  - gemfiles/rails_3.2.gemfile
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
script:
  - bundle exec rake
